{% extends "layout.html" %}
 {% block title %}
BEST PASTA IN SYDNEY{% endblock %}
{% block main %}
<p><strong>BEST PASTA IN SYDNEY</strong></p>
<p style="text-align:left">            The burger shops provides the best burger in Sydney.</p>
<p style="text-align:left"></p>
<p style="text-align:left">Delivery and walk in</p>
<p style="text-align:left"></p>
<p style="text-align:left">Location: Top Ryde city</p>
<p style="text-align:left"></p>
<p style="text-align:left">Openning hours: 10 a.m - 10 p.m every day.</p>
<p style="text-align:left">        </p>
{% if session.user_id %}
<p><a href = "/">Homepage</a></p>
{% else %}<p><a href = "/register">Register</a></p>
<p><a href = "/login">Login</a></p>
<p><a href = "/">Homepage</a></p>
{% endif %}
{% endblock %}