{% extends "layout.html" %}

{% block title %}
    Charles
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table">
            <tr style="text-align:left">
                <th>NAME</th>
                <th>EMAIL</th>
                <th>POSITION</th>
            </tr>
                <tr style="text-align:left">
                    <td>{{name}}</td>
                    <td>charleshou920@gmail.com</td>
                    <td>Developer</td>
                </tr>
        </table>
    </div>
{% endblock %}