{% extends "layout.html" %}

{% block title %}
    Adnan
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table">
            <tr style="text-align:left">
                <th>NAME</th>
                <th>EMAIL</th>
                <th>POSITION</th>
            </tr>
                <tr style="text-align:left">
                    <td>{{name}}</td>
                    <td>m.adnan1096@gmail.com</td>
                    <td>Front-end Designer</td>
                </tr>
        </table>
    </div>
{% endblock %}